# Task 1: Create an account and getting familiar with MongoDB

## 1.1 - Setup an MongoDB ATLAS account
Follow the instructions from here: https://docs.google.com/document/d/1Puyz0RLfEqiCRl-ZaKdtKloEqVsN8GKdMuraKn1ZdoI/edit?usp=sharing 


## 1.2 - MongoDB concepts compared to Relational DB concepts
In MongoDB, a **database** is the container for collections. A single **collection**  is the container for documents. **Documents** are usually key/value pairs but it can include arrays and subdocuments. It can support different data types. More information here: https://docs.mongodb.com/manual/reference/bson-types/. 

| Relational DB  | MongoDB  |
|---|---|
|  Database | Database  |  
| Tables  |  Collections |
| Rows  | Documents  |
| Index  |  Index |
 	


## 1.3 Document structure
You can find more information about MongoDB document structure https://docs.mongodb.com/manual/core/document/. If you are not familiar with JSON and BSON specifications, you might wish to read about them here:
- JSON: https://www.json.org/json-en.html
- BSON: http://bsonspec.org

# Task 2: Query a dataset

We need `pymongo`, `dnspython` and `python==3.6`

In [1]:
# install missing library
!pip install pymongo
!pip install dnspython

Collecting pymongo
  Downloading pymongo-3.12.1-cp37-cp37m-win_amd64.whl (397 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.12.1
Collecting dnspython
  Downloading dnspython-2.1.0-py3-none-any.whl (241 kB)
Installing collected packages: dnspython
Successfully installed dnspython-2.1.0

If you use Google's collab, you now have to select `Runtime -> Restart runtime` or `Ctrl+M`.

In [2]:
#@title Imports
import pymongo
from pprint import pprint
from random import randint

## 2.1 - Establish a connection to MongoDB

- **_[TO DO]_** : Connect to MongoDB using the MongoClient class from PyMongo library.

In [14]:
###########################
# Task: 
#   use MongoClient class to connect to MongoDB
#
###########################
host='mongodb+srv://Dijia:<123>@cluster0.xbh2z.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'
username='Dijia'
password='123'
client = pymongo.MongoClient(host=host, username=username, password=password)
db=client.admin


#########

Let's check whether everything works properly by retrieving the server status and printing the results, as follows:

In [15]:
serverStatusResult=db.command("serverStatus")
pprint(serverStatusResult)

{'$clusterTime': {'clusterTime': Timestamp(1635805539, 1),
                  'signature': {'hash': b'\x84s\x1d\x08\x8612\xc3&\x11\xae*'
                                        b'\xca\x0f\tEJ\xfb\x17\xc2',
                                'keyId': 6985604577110261768}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '438fb41196e737d1aedcff6aac76f3e7895653ac',
                  'version': '20211027.0.0.1634935068'},
 'connections': {'available': 494, 'current': 6, 'totalCreated': 10},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'cluster0-shard-00-01.xbh2z.mongodb.net:27017',
 'localTime': datetime.datetime(2021, 11, 1, 22, 25, 39, 315000),
 'mem': {'bits': 64,
         'mapped': 0,
         'mappedWithJournal': 0,
         'resident': 0,
         'supported': True,
         'virtual': 0},
 'metrics': {'aggStageCounters': {'search': 0, 'searchBeta': 0},
             'atlas': {'connectionPool': {'totalCreated': 7256}}},
 'network': {'bytesIn': 7533, 'bytesOut': 21596, 'numRequests': 32},
 'ok': 1.0,
 'opLatencies': {'commands': {'latency': 12419, 'ops': 29},
                 'reads': {'latency': 0, 'ops': 0},
                 'writes': {'latency': 0, 'ops': 0}},
 'opcounters': {'command': 32,
                'delete': 0,
                'getmore': 0,
                'insert': 0,
                'query': 0,
                'update': 0},
 'opcountersRepl': {'command': 0,
                    'delete': 0,
                    'getmore': 0,
                    'insert': 0,
                    'query': 0,
                    'update': 0},
 'operationTime': Timestamp(1635805539, 1),
 'pid': 143330,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000043'),
          'hosts': ['cluster0-shard-00-00.xbh2z.mongodb.net:27017',
                    'cluster0-shard-00-01.xbh2z.mongodb.net:27017',
                    'cluster0-shard-00-02.xbh2z.mongodb.net:27017'],
          'ismaster': True,
          'lastWrite': {'lastWriteDate': datetime.datetime(2021, 11, 1, 22, 25, 39),
                        'majorityOpTime': {'t': 67,
                                           'ts': Timestamp(1635805539, 1)},
                        'majorityWriteDate': datetime.datetime(2021, 11, 1, 22, 25, 39),
                        'opTime': {'t': 67, 'ts': Timestamp(1635805539, 1)}},
          'me': 'cluster0-shard-00-01.xbh2z.mongodb.net:27017',
          'primary': 'cluster0-shard-00-01.xbh2z.mongodb.net:27017',
          'rbid': 1,
          'secondary': False,
          'setName': 'atlas-whyvuf-shard-0',
          'setVersion': 6,
          'tags': {'nodeType': 'ELECTABLE',
                   'provider': 'AWS',
                   'region': 'EU_WEST_1',
                   'workloadType': 'OPERATIONAL'},
          'topologyVersion': {'counter': 6,
                              'processId': ObjectId('616f16b5aefa36bef7628d3f')}},
 'storageEngine': {'backupCursorOpen': False,
                   'dropPendingIdents': 0,
                   'name': 'wiredTiger',
                   'oldestRequiredTimestampForCrashRecovery': Timestamp(1635805521, 7),
                   'persistent': True,
                   'readOnly': False,
                   'supportsCommittedReads': True,
                   'supportsPendingDrops': True,
                   'supportsSnapshotReadConcern': True,
                   'supportsTwoPhaseIndexBuild': True},
 'uptime': 1135278.0,
 'uptimeEstimate': 1135278,
 'uptimeMillis': 1135278152,
 'version': '4.4.10'}


## 2.2 - Create sample data

Let's create our synthetic dataset with students, their mark (scaled from 1-10) and the reviewer on DAPS 2020.

In [16]:
names = ['Anna','Maria','George', 'Mike', 'Alex','Paul','Nick', 'Andrew','Ellie', 'Natalia']
surname = ['Adams', 'Baker', 'Palmer', 'Peterson', 'Roberts', 'Turner', 'Armstrong']
reviewer = ['Laura','Miguel']
student=[]
for i in range(1, 30):
    student.append({
        'name' : names[randint(0, (len(names)-1))] + ' '  + surname[randint(0, (len(surname)-1))],
        'DAPS_assignment' : randint(1, 10),
        'reviewer':  reviewer[randint(0, (len(reviewer)-1))] })
print(student)

[{'name': 'Mike Roberts', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Mike Baker', 'DAPS_assignment': 5, 'reviewer': 'Miguel'}, {'name': 'Andrew Armstrong', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Nick Adams', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Nick Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Andrew Peterson', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Alex Palmer', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Paul Armstrong', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Nick Turner', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Andrew Baker', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'George Turner', 'DAPS_assignment': 1, 'reviewer': 'Miguel'}, {'name': 'George Adams', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Ellie Roberts', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Natalia Turner', 'DAPS_assignment': 4, 'reviewer': 'Laura'}, {'name': 'Andrew Roberts', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Mike Palmer', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Ellie Armstrong', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'George Baker', 'DAPS_assignment': 3, 'reviewer': 'Laura'}, {'name': 'Natalia Peterson', 'DAPS_assignment': 8, 'reviewer': 'Miguel'}, {'name': 'Ellie Adams', 'DAPS_assignment': 9, 'reviewer': 'Laura'}, {'name': 'Andrew Adams', 'DAPS_assignment': 8, 'reviewer': 'Laura'}, {'name': 'Ellie Turner', 'DAPS_assignment': 1, 'reviewer': 'Laura'}, {'name': 'Andrew Adams', 'DAPS_assignment': 7, 'reviewer': 'Miguel'}, {'name': 'Natalia Peterson', 'DAPS_assignment': 3, 'reviewer': 'Miguel'}, {'name': 'Anna Baker', 'DAPS_assignment': 2, 'reviewer': 'Laura'}, {'name': 'Paul Roberts', 'DAPS_assignment': 4, 'reviewer': 'Miguel'}, {'name': 'Maria Armstrong', 'DAPS_assignment': 10, 'reviewer': 'Miguel'}, {'name': 'Andrew Roberts', 'DAPS_assignment': 7, 'reviewer': 'Laura'}, {'name': 'Andrew Baker', 'DAPS_assignment': 4, 'reviewer': 'Laura'}]



**_[TO DO]_**: Upload this database using `insert_one` or `insert_many` command.

In [17]:
# Create a database object called “students”
db = client.students

In [27]:
###########################
# Task: 
#   upload this database using insert_one or insert_many command
#
###########################

### TO DO
col=db.students
col.insert({'name': 'Mike Roberts', 'DAPS_assignment': 1, 'reviewer': 'Laura'})
col.insert(student[1:])
#########

c:\users\11597\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  if __name__ == '__main__':
c:\users\11597\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  # Remove the CWD from sys.path while we load stuff.

[ObjectId('61806ce95e19aa6c276a7bc6'),
 ObjectId('61806ce95e19aa6c276a7bc7'),
 ObjectId('61806ce95e19aa6c276a7bc8'),
 ObjectId('61806ce95e19aa6c276a7bc9'),
 ObjectId('61806ce95e19aa6c276a7bca'),
 ObjectId('61806ce95e19aa6c276a7bcb'),
 ObjectId('61806ce95e19aa6c276a7bcc'),
 ObjectId('61806ce95e19aa6c276a7bcd'),
 ObjectId('61806ce95e19aa6c276a7bce'),
 ObjectId('61806ce95e19aa6c276a7bcf'),
 ObjectId('61806ce95e19aa6c276a7bd0'),
 ObjectId('61806ce95e19aa6c276a7bd1'),
 ObjectId('61806ce95e19aa6c276a7bd2'),
 ObjectId('61806ce95e19aa6c276a7bd3'),
 ObjectId('61806ce95e19aa6c276a7bd4'),
 ObjectId('61806ce95e19aa6c276a7bd5'),
 ObjectId('61806ce95e19aa6c276a7bd6'),
 ObjectId('61806ce95e19aa6c276a7bd7'),
 ObjectId('61806ce95e19aa6c276a7bd8'),
 ObjectId('61806ce95e19aa6c276a7bd9'),
 ObjectId('61806ce95e19aa6c276a7bda'),
 ObjectId('61806ce95e19aa6c276a7bdb'),
 ObjectId('61806ce95e19aa6c276a7bdc'),
 ObjectId('61806ce95e19aa6c276a7bdd'),
 ObjectId('61806ce95e19aa6c276a7bde'),
 ObjectId('61806ce95e19aa6c276a7bdf'),
 ObjectId('61806ce95e19aa6c276a7be0'),
 ObjectId('61806ce95e19aa6c276a7be1')]

## 2.3 - Query a document


**_[TO DO]_** : Find one student with score of 5. You can use the command `find_one`.

In [39]:
###########################
# Task: 
#   find one student with final DAPS_assignment score equal 5
#
###########################


### TO DO
col.find_one({'DAPS_assignment': 5})


#########

{'_id': ObjectId('61806ce95e19aa6c276a7bc6'),
 'name': 'Mike Baker',
 'DAPS_assignment': 5,
 'reviewer': 'Miguel'}


**_[TO DO]_** : Query the database to find the total number of students with score 8 and 3? You can use `aggregation` or `find` command.

In [32]:
###########################
# Task: 
#   Count the total students with final DAPS_assignment score equal to 3 and 8.
#
###########################


### TO DO
col.find({'DAPS_assignment': {"$in": [3,8]}}).count()


#########

c:\users\11597\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  if __name__ == '__main__':

8

 Dr. Laura Toni is happy today and she is going to pass all students with final score 4.
 
**_[TO DO]_** : Change the score on all the students with final mark 4 to 5. You can use one of the following commands: `update_one`, `update_many` and `replace_one`.

In [38]:
###########################
# Task: 
#   Adjust the score on all the students with final mark 4 to 5.
#
###########################


### TO DO
col.update_many({'DAPS_assignment': 4},{'$inc':{'DAPS_assignment': 5}})

#########

That was an unfair move!

**_[TO DO]_** : Let's delete all the documents that Dr. Laura Toni marked!

In [44]:
###########################
# Task: 
#   Delete all documents with `reviewer:Laura`.
#
###########################


### TO DO
col.remove({'reviewer': 'Laura'})
#########

c:\users\11597\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: remove is deprecated. Use delete_one or delete_many instead.
  if __name__ == '__main__':

{'n': 0,
 'opTime': {'ts': Timestamp(1635807863, 323), 't': 67},
 'electionId': ObjectId('7fffffff0000000000000043'),
 'ok': 1.0,
 '$clusterTime': {'clusterTime': Timestamp(1635807863, 323),
  'signature': {'hash': b'\x8e|\xe2\xef\x95\xb4\x81\xb5\x99\xb3%\x88\x7f\xea\\yp\xb3\xaa\xcc',
   'keyId': 6985604577110261768}},
 'operationTime': Timestamp(1635807863, 323)}

GOOD JOB! You finished the tasks!


You might be asking yourself now: Why and when a non-elational database is useful? MongoDB allows storing data in documents. This is very useful when you have a lot of many-to-many relationships. Other advantages include:
- it enables the fast development of applications, 
- it supports highly diverse data types, 
- and allows efficient interations with applications at scale.
Read more here: https://www.mongodb.com/compare/mongodb-mysql 


You can learn more about developing MongoDB-based applications here:
- https://university.mongodb.com/courses/M121/about?jmp=M101Pap
- https://university.mongodb.com/courses/M220P/about?jmp=M101Pap
- https://university.mongodb.com/courses/M320/about?jmp=M101Pap